.arch-ids/
.arch-inventory
\{arch\}/
*~
*.pyc
ABOUT-NLS
aclocal.m4
autom4te.cache/
config.*
configure
install-sh
missing
py-compile
*.gmo
help/??/
po/*.header
po/*.sed
po/*.sin
po/.*
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/stamp-it
compile
m4/
pybliographer.appdata.xml
pybliographer.desktop
pybliographer
scripts/pybliocheck
scripts/pybliocompact
scripts/pyblioconvert
scripts/pyblioformat
scripts/pybliographic
scripts/pybliotex
scripts/pybliotext
scripts/pybscript
